/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* effects all
.menu-section {height: 150px;} */

/* container adjustments
----------------------------------------------*/
.bg {
    background-color: #22252a;
}

.container {background-color: #22252a;}

.container .container-small {float: none;
                             display: block;
                             margin: 0 auto;}


/* Header & Navigation
----------------------------------------------*/
.header {
    background-color: #fed159;
    border-radius: 0 0 30px 30px;
}  

.nav ul,
.nav li, 
.nav a {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.header-nav {
    text-align: center;
}

.header-nav a {
    font-family: sans-serif;
    padding: 17px;
    text-decoration: none;
    font-family: 'ostrich_sansblack' sans-serif;
    font-size: 25pt;
    color: #DC4D3E;
    -webkit-transition: color .3s linear;
            transition: color .3s linear;
}

.header-nav a:hover {
    color: black;
}


.title-name {
    font-size: 128pt;
    font-family: 'ostrich_sansbold';
    font-weight: normal; 
    text-align: center;
    padding: 0;
    margin-top: -55px;
    margin-bottom: -55px;
}

.title-location {
    font-size: 25pt;
    font-family: 'ostrich_sansblack';
    font-weight: normal;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Master Card #badpun
----------------------------------------------*/
.container .menu-section { margin-bottom: 15px; border-radius: 15px 15px 15px 15px;}

.menu-section h4, h3, h2 {
    text-align: center;
    font-family: 'ostrich_sansblack';
    font-weight: normal;
    }


.menu-section h3 { 
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

.menu-section h2 {
    margin: 0;
    line-height: 20px;
}


/* About & Hours -- First Card
----------------------------------------------*/
#first-card {
    position: relative;
    height: 270px;
    border-radius: 15px 15px 15px 15px;
    background-color: #F89D46;
    background-image: url(http://i59.tinypic.com/209lu0h.jpg);
    color: #fff;
    overflow: hidden; /* quickly clears floats, instead of using clearfix */
} 

#first-card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%);
}

#first-left h3, p {
    text-align: justify;
    padding: 0;
    margin: 0;
    margin-left: 20px;
    margin-top: 20px;
}

#first-left h3 {text-align: center;
                letter-spacing: 2px;}

.hours h3, h4 {
    font-size: 1.17em;
    text-align: left;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2px;
    margin-bottom: 0;
    margin-right: 20px;

}

.hours h3 {margin-top: 20px;}

.hours h4 {margin-top: 10px;}

.hours ul, li {
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: -5px;
    margin-right: 20px;
}


/* Reservations -- Second Card
----------------------------------------------*/
#second-card {
    position: relative;
    height: 270px;
    background-color: #DC4D3E;
    background-image: url(http://i58.tinypic.com/fnv02e.jpg);
    overflow: hidden;
    }

.card-content {
    position: relative;
    z-index: 2;
    }

#second-card #reservation.card-content h3 {
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 20px;
}

#second-card #reservation.card-content h4 {
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 20px;
}

#second-card p {
    text-align: center;
    color: #fff;
    margin: 0px;
   margin: 30px;

}

    #second-card:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .5);
    }

.button a {
    border-radius: 15px 15px 15px 15px;
    border-style: solid;
    border-width: 2px;
    border-color: #E9EAEA;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: -10px;
    padding-right: -10px;
    margin: 30px;
    text-align: center;
    position: absolute;
    left: 38%;
    top: 90%;
    width: 100px;
}


.button a:link {text-decoration: none;
        color: #E9EAEA;}
.button a:visited {text-decoration: none;
        color: #E9EAEA;}
.button a:hover {text-decoration: none;
        color: #E9EAEA;}
.button a:active {text-decoration: none;
        color: #E9EAEA;}

/* Menu: Beer Snacks -- Third Card
----------------------------------------------*/
#third-card {
    background-color: #fed159;
} 

.menu-lead {
    margin-left: 20px;
    margin-right: 20px;
}

ul.leaders {
    max-width: 40em;
    padding: 0;
    overflow-x: hidden;
    list-style: none}
ul.leaders li:after {
    float: left;
    width: 0;
    white-space: nowrap;
    content:
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "}
ul.leaders span:first-child {
    padding-right: 0.33em;
    background: #fed159}
ul.leaders span {
    float: right;
    padding-left: 0.33em;
    position: relative;
    background: #fed159;
    z-index: 1}
/* Credit to W3C for the menu examples */



/* Menu: From the Salt House -- Fourth Card
----------------------------------------------*/
#fourth-card {
    background-color: #F89D46;
} 

ul.leaders-two {
    max-width: 40em;
    padding: 0;
    overflow-x: hidden;
    list-style: none}
ul.leaders-two li:after {
    float: left;
    width: 0;
    white-space: nowrap;
    content:
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "}
ul.leaders-two span:first-child {
    padding-right: 0.33em;
    background: #F89D46}
ul.leaders-two span {
    float: right;
    padding-left: 0.33em;
    position: relative;
    background: #F89D46;
    z-index: 1}

/* Menu: Salads -- Fifth Card
----------------------------------------------*/
#fifth-card {
    background-color: #DC4D3E;
} 

ul.leaders-three {
    max-width: 40em;
    padding: 0;
    overflow-x: hidden;
    list-style: none}
ul.leaders-three li:after {
    float: left;
    width: 0;
    white-space: nowrap;
    content:
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "}
ul.leaders-three span:first-child {
    padding-right: 0.33em;
    background: #DC4D3E}
ul.leaders-three span {
    float: right;
    padding-left: 0.33em;
    position: relative;
    background: #DC4D3E;
    z-index: 1}

/* Menu: Dry-aged butcher's cuts -- Sixth Card
----------------------------------------------*/
#sixth-card {
    background-color: #fed159;
} 

ul.leaders-four {
    max-width: 40em;
    padding: 0;
    overflow-x: hidden;
    list-style: none}
ul.leaders-four li:after {
    float: left;
    width: 0;
    white-space: nowrap;
    content:
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "}
ul.leaders-four span:first-child {
    padding-right: 0.33em;
    background: #fed159}
ul.leaders-four span {
    float: right;
    padding-left: 0.33em;
    position: relative;
    background: #fed159;
    z-index: 1}

/* Menu: Sandwiches -- Seventh Card
----------------------------------------------*/
#seventh-card {
    background-color: #F89D46;
} 

ul.leaders-five {
    max-width: 40em;
    padding: 0;
    overflow-x: hidden;
    list-style: none}
ul.leaders-five li:after {
    float: left;
    width: 0;
    white-space: nowrap;
    content:
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "}
ul.leaders-five span:first-child {
    padding-right: 0.33em;
    background: #F89D46}
ul.leaders-five span {
    float: right;
    padding-left: 0.33em;
    position: relative;
    background: #F89D46;
    z-index: 1}

/* Menu: Varieties -- Eighth Card
----------------------------------------------*/
#eighth-card {
    background-color: #DC4D3E;
} 

ul.leaders-six {
    max-width: 40em;
    padding: 0;
    overflow-x: hidden;
    list-style: none}
ul.leaders-six li:after {
    float: left;
    width: 0;
    white-space: nowrap;
    content:
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "}
ul.leaders-six span:first-child {
    padding-right: 0.33em;
    background: #DC4D3E}
ul.leaders-six span {
    float: right;
    padding-left: 0.33em;
    position: relative;
    background: #DC4D3E;
    z-index: 1}

/* Menu: Sausages -- Nineth Card
----------------------------------------------*/
#nineth-card {
    background-color: #fed159;
} 

ul.leaders-seven {
    max-width: 40em;
    padding: 0;
    overflow-x: hidden;
    list-style: none}
ul.leaders-seven li:after {
    float: left;
    width: 0;
    white-space: nowrap;
    content:
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "}
ul.leaders-seven span:first-child {
    padding-right: 0.33em;
    background: #fed159}
ul.leaders-seven span {
    float: right;
    padding-left: 0.33em;
    position: relative;
    background: #fed159;
    z-index: 1}

/* Menu: Hearth Vegetables -- Tenth Card
----------------------------------------------*/
#tenth-card {
    background-color: #F89D46;
} 

ul.leaders-eight {
    max-width: 40em;
    padding: 0;
    overflow-x: hidden;
    list-style: none}
ul.leaders-eight li:after {
    float: left;
    width: 0;
    white-space: nowrap;
    content:
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "}
ul.leaders-eight span:first-child {
    padding-right: 0.33em;
    background: #F89D46}
ul.leaders-eight span {
    float: right;
    padding-left: 0.33em;
    position: relative;
    background: #F89D46;
    z-index: 1}

/* Menu: On The Side -- Eleventh Card
----------------------------------------------*/
#eleventh-card {
    background-color: #DC4D3E;
} 

ul.leaders-nine {
    max-width: 40em;
    padding: 0;
    overflow-x: hidden;
    list-style: none}
ul.leaders-nine li:after {
    float: left;
    width: 0;
    white-space: nowrap;
    content:
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "}
ul.leaders-nine span:first-child {
    padding-right: 0.33em;
    background: #DC4D3E}
ul.leaders-nine span {
    float: right;
    padding-left: 0.33em;
    position: relative;
    background: #DC4D3E;
    z-index: 1}

/* Menu: Wine & Spirits -- Twelveth Card
----------------------------------------------*/
#twelveth-card {
    background-color: #fed159;
} 



/* Footer
----------------------------------------------*/

.footer {
    position: fixed;
    bottom: 0;
    left:0;
    z-index: 50;
    width:100%;
    font-size: 12pt;
    border-top:solid white 1px;
    background-color: #DC4D3E;
    padding: 0 0 1px;
}

.footer-left ul, li, a {
    display: inline-block;
    padding: 2px 0px 3px 0px;
    padding-left: 1px;
    margin: 0;
}

.footer-right p {
    text-align: right;
    padding: 0px;
    margin: 0px;
    font-size: 14pt;
    font-family: 'ostrich_sansblack';
    font-weight: normal;
    color: #fff;
}

#footer {
    background-color: #DC4D3E;
}

/* Media Queries
----------------------------------------------*/
@media only screen and (max-width: 959px) {
    .title-heading {
        font-size: 96pt;
    }
    .title-location {
        font-size: 18pt;
    }
    .header-nav li, a  {
        font-size: 18pt;
    }

    #first-left p {
        font-size: 10pt;
        text-align: left;
    }

    #first-right h4, ul {
        font-size: 10pt;
    }

@media only screen and (max-width: 767px) {
    .title-heading {
        font-size: 50pt;
        margin-bottom: -30px;
    }

    .title-location {
        font-size: 15pt;
        margin-bottom: 2px;
    }

    .header-nav a  {
        font-size: 15pt;
        margin-bottom: 19px;
    }

    #first-left h3 {
        margin-bottom: -20px;
    }

    #first-left p {
        font-size: 8pt;
        text-align: center;
        margin-right: 20px;
    }

    .hours h3 {
        margin-bottom: -10px;
    }

    .hours {
        margin-top: -10px;
        margin-left: 30px;
        margin-bottom: 20px;
    }

    .hours ul {
        font-size: 8pt;
        margin-right: 10px;
    }


@media only screen and (max-width: 480px) {
    .title-heading {
        font-size: 30pt;
        margin-bottom: -15px;

    }

    .title-location {
        font-size: 12pt;
        margin-bottom: 2px;

    }

    .header-nav a  {
        font-size: 12pt;
        margin-bottom: 25px;
    }

    #first-left h3 {
        margin-bottom: -20px;
    }

    #first-left p {
        font-size: 8pt;
        text-align: center;
        margin-right: 20px;
    }

    .hours h3 {
        margin-bottom: -10px;
        font-size: 18px;
    }

    .hours {
        margin-top: -10px;
        margin-left: 30px;
        margin-bottom: 20px;
    }

    .hours h4 {
        font-size: 14px;
        margin-right: 10px;
    }

    .hours ul {
        font-size: 8pt;
        margin-right: 10px;
    }

    .footer-right p {
        display: none;
    }

    .footer-left ul, li {
        margin-left: 25px;
    }
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
